[submodule "frontend"]
	path = frontend
	url = https://github.com/nebula-analytics/nebula
[submodule "web"]
	path = web
	url = https://github.com/nebula-analytics/nebula-webservice
[submodule "worker"]
	path = worker
	url = https://github.com/nebula-analytics/nebula-background-worker/
